body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .nav-tabs .nav-link.active {
    background-color: #333;
    color: #e0e0e0;
}

body.dark-mode .btn-outline-secondary {
    color: #e0e0e0;
    border-color: #666;
}

#todayOverview {
position: relative;
padding: 10px;
border: 1px solid #ccc;
border-radius: 6px;
}

body.dark-mode #todayOverview {
    border-color: #555;
}

#todayOverview .current-time-line {
position: absolute;
top: 0;
bottom: 0;
width: 2px;
background-color: red;
z-index: 10;
}
